<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>新增课程</title>
  <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/lib/css/layuimini.css?v=2.0.4.2}" media="all">
  <link rel="stylesheet" th:href="@{/lib/css/themes/default.css}" media="all">
  <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">

</head>
<body>

<form class="layui-form" action="">
  <div class="layui-form-item">
    <label class="layui-form-label">课程编号</label>
    <div class="layui-input-block">
      <input type="number"  th:field="${course.cno}" name="cno" required="required"  lay-verify="required|number" placeholder="请输入编号" autocomplete="off" class="layui-disabled">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">课程名称</label>
    <div class="layui-input-block">
      <input type="text" th:field="${course.cname}" name="cname" required="required"  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button id="btn-submit" class="layui-btn" lay-submit lay-filter="addemp-filter">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>

</form>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}" charset="utf-8"></script>
<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/jq-module/jquery.particleground.min.js}" charset="utf-8"></script>
<script th:inline="javascript">

  var ctxPath=[[@{/}]];

    layui.use(['table','form'], function(){
      var table = layui.table;
      var form = layui.form;


      //监听提交
      form.on('submit(addemp-filter)', function(data){
        $("#btn-submit").attr("disabled", "disabled").addClass("layui-btn-disabled");
        //异步提交请求
        var url = ctxPath+"admin/updateCourse";
        $.post(url,data.field,function(response){

          if(response.code==0){
            layer.msg(response.message,{icon:6,time:1000}, function () {
              //刷新表格
              parent.refreshTable();
              //当你在iframe页面关闭自身时
              var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
              parent.layer.close(index); //再执行关闭

            });
          }
          else {
            $("#btn-submit").removeAttr("disabled", "disabled").removeClass("layui-btn-disabled");
            layer.msg(response.message,{icon:5,time:1000});
          }

        });

        return false;
      });


    });

</script>
</body>
</html>