<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lms.mapper.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.lms.pojo.Room" >
    <id column="rno" property="rno" jdbcType="CHAR" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="rcapacity" property="rcapacity" jdbcType="INTEGER" />
    <result column="bno" property="bno" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rno, rname, rcapacity, bno
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lms.pojo.RoomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from room
    where rno = #{rno,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from room
    where rno = #{rno,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lms.pojo.RoomExample" >
    delete from room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lms.pojo.Room" >
    insert into room (rno, rname, rcapacity, 
      bno)
    values (#{rno,jdbcType=CHAR}, #{rname,jdbcType=VARCHAR}, #{rcapacity,jdbcType=INTEGER}, 
      #{bno,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lms.pojo.Room" >
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rno != null" >
        rno,
      </if>
      <if test="rname != null" >
        rname,
      </if>
      <if test="rcapacity != null" >
        rcapacity,
      </if>
      <if test="bno != null" >
        bno,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rno != null" >
        #{rno,jdbcType=CHAR},
      </if>
      <if test="rname != null" >
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="rcapacity != null" >
        #{rcapacity,jdbcType=INTEGER},
      </if>
      <if test="bno != null" >
        #{bno,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lms.pojo.RoomExample" resultType="java.lang.Integer" >
    select count(*) from room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update room
    <set >
      <if test="record.rno != null" >
        rno = #{record.rno,jdbcType=CHAR},
      </if>
      <if test="record.rname != null" >
        rname = #{record.rname,jdbcType=VARCHAR},
      </if>
      <if test="record.rcapacity != null" >
        rcapacity = #{record.rcapacity,jdbcType=INTEGER},
      </if>
      <if test="record.bno != null" >
        bno = #{record.bno,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update room
    set rno = #{record.rno,jdbcType=CHAR},
      rname = #{record.rname,jdbcType=VARCHAR},
      rcapacity = #{record.rcapacity,jdbcType=INTEGER},
      bno = #{record.bno,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lms.pojo.Room" >
    update room
    <set >
      <if test="rname != null" >
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="rcapacity != null" >
        rcapacity = #{rcapacity,jdbcType=INTEGER},
      </if>
      <if test="bno != null" >
        bno = #{bno,jdbcType=CHAR},
      </if>
    </set>
    where rno = #{rno,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lms.pojo.Room" >
    update room
    set rname = #{rname,jdbcType=VARCHAR},
      rcapacity = #{rcapacity,jdbcType=INTEGER},
      bno = #{bno,jdbcType=CHAR}
    where rno = #{rno,jdbcType=CHAR}
  </update>
</mapper>